/*
	Author: Juan José Ramírez Escribano @jotajotaramirez
	Date: 07 July 2013
*/

html,
body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.main {
	background: -webkit-gradient(linear, left top, right bottom, from(#aaa), color-stop(13%, #aaa), color-stop(57%, #ccc), color-stop(79%, #eee), to(#eee));
	background: linear-gradient(135deg, #aaa 13%, #ccc 57%, #eee 79%);
	margin: 0 auto;
	height: 100%;
	width: 100%;
}