/*
	Author: Juan José Ramírez Escribano @jotajotaramirez
	Date: 07 July 2013
*/

.simplestTransition .main {
	background-color: blue;
	width: 50%;
	transition: width 2s;
	-webkit-transition: width 2s;
}

.simplestTransition .grow {
	width: 100%;
}